p {
    font-family: sans-serif;
    line-height: 2em;
}

h1 {
    text-align: right;
}

h2 {
    color: green;
}

h1, ol li {
    color: red;
}

ul li {
    color: gray;
    font-style: italic;
}

em {
    color: blue;
}

strong {
    font-size: 14pt;
    color: red;
}

#main-block {
    width: 50%;
}