.vertical-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
}

.vertical-navigation button {
    outline: none;
    background-color: rgb(75, 75, 75);
    color: white;
    text-align: left;
    border: 1px solid black;
    height: 2.5em;
    margin: 3px;
    font-weight: bold;
}

.vertical-navigation button:hover {
    background-color:   rgb(100, 100, 100);
}

.vertical-navigation button:active {
    background-color:   rgb(125, 125, 125);
}
