@using PhoneBook.ViewModels
@model RegisterViewModel

<div class="container">
    <h2 class="text-center mb-3">Регистрация</h2>
    <form asp-controller="User" asp-action="Register">
        <div class="row text-center justify-content-center" asp-validation-summary="All"></div>

        <div class="row text-center justify-content-center mb-2 mt-2">
            <input type="text" asp-for="Login" placeholder="Логин" />
        </div>
        <div class="row text-center justify-content-center mb-2">
            <input type="password" asp-for="Password" placeholder="Пароль" />
        </div>
        <div class="row text-center justify-content-center mb-2">
            <input type="password" asp-for="ConfirmPassword" placeholder="Подтвердите пароль" />
        </div>
        <div class="row text-center justify-content-center mb-2">
            <input type="submit" value="Регистрация" class="btn btn-primary" />
        </div>
        <div class="row text-center justify-content-center mb-2">
            <a asp-action="Login" asp-controller="User" class="btn btn-link">Авторизоваться</a>
        </div>
    </form>
</div>

